* {
    color: inherit;
    text-decoration: inherit;
}

body {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

/* ------ Gameboy display objects ------- */
#display {
    display: inline-block;
    background: url('gameboy.png');

    width: 160px;
    height: 144px;

    padding: 67px 90px 349px;
}

#display.double {
    width: 320px;
    height: 288px;

    padding: 10px 10px 262px;
}

.center {
    width: 900px;
    margin: 0 auto;
}

.debugger .button-group {
    background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */

    color: rgb(220, 220, 220);
    text-shadow: 0 0.1em rgb(100, 100, 100);
}

canvas {
    display: inline-block;
}

.debugger {
    display: inline-block;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

.debugger .registers, .debugger .disassembly {
    font-family: "Courier New", Courier, monospace;
}

.debugger .flag-group {
    white-space-collapse: discard;
}

.debugger .flag {
    width: 1em;
    background: rgb(20, 20, 20);
    color: rgb(24,237,47);
    text-align: center;

    padding: 0;
    margin: 0;
}

.debugger .header {
    width: 100;
    text-align: center;
}

.button-group {
    padding: 0;
    margin: 0;
}

.button-group ul {
    margin: 0;
    padding: 0;
}

.button-group li {
    display: inline-block;
}

.button-group .button {
    display: block;
    height: 100%;
    border-right: 1px solid black;
    padding: 2px 8px;
    margin: 0;
}

.debugger .column {
    display: inline-block;
}

.debugger .registers {
    display: inline-block;
    vertical-align: top;

    padding: 0;
    background: rgb(237, 237, 237);
    padding: 4px 16px;
    height: 100%;
}

.debugger .disassembly {
    display: inline-block;
    vertical-align: top;
}

.debugger .row {
    width: 100%;
}

.debugger .addr {
    display: inline-block;
    width: 10ex;
}

.debugger .hex {
    display: inline-block;
    width: 16ex;
}

.debugger .instruction {
}

