* {
    color: inherit;
    text-decoration: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

.center {    
    width: 900px;
    margin: 48px auto 0;
}

/* ------ Title ------ */

.title-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background: -moz-linear-gradient(top, rgba(142,198,255,1) 0%, rgba(96,171,248,1) 26%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,198,255,1)), color-stop(26%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(142,198,255,1) 0%,rgba(96,171,248,1) 26%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(142,198,255,1) 0%,rgba(96,171,248,1) 26%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(142,198,255,1) 0%,rgba(96,171,248,1) 26%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(142,198,255,1) 0%,rgba(96,171,248,1) 26%,rgba(64,150,238,1) 100%); /* W3C */
}

.title-bar h1 {
    display: inline-block;
    font-size: 20pt;
    vertical-align: middle;
    margin: 2px 32px;

    color: white;
    text-shadow: 0 1px black;
}

.title-bar .loader {
    position: absolute;

    top: 50%;
    right: 32px;
    margin-top: -0.8em;

    height: 1.6em;
}

.title-bar #filename {
    height: 1.6em;
    
    border-radius: 0.75em;
    border: 1px solid rgb(32,32,32);
    padding: 0 8px;
    width: 60ex;
}

.title-bar #suggestions {
    position: absolute;
    top: 1.3em;
    right: 0;

    max-height: 15em;
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    border: 1px black solid;
    border-radius: 4px;
    padding: 0 4px;
}

#suggestions li {
    list-style: none;
    padding: 2px 8px;
    white-space: nowrap;
}

/* ------ Gameboy display objects ------- */
#display {
    display: inline-block;
    background: url('gameboy.png');

    width: 160px;
    height: 144px;

    padding: 67px 90px 349px;
}

#display.double {
    width: 320px;
    height: 288px;

    padding: 10px 10px 262px;
}

.debugger .button-group {
    background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */

    color: rgb(220, 220, 220);
    text-shadow: 0 0.1em rgb(100, 100, 100);
}

canvas {
    display: inline-block;
}

.debugger {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    padding: 0;
    margin: 0;

    width: 540px;
}

.debugger .name {
    display: inline-block;
    width: 2em;
    text-align: right;
}

.debugger .value {
    display: inline-block;
    width: 3em;

    background: rgb(200,200,200);
    text-align: right;
}

.debugger .registers, .debugger .disassembly {
    font-family: Courier, monospace;
}

.debugger .flag-group {
}

.debugger .flag {
    display: inline-block;
    width: 1em;
    background: rgb(200, 200, 200);
    color: rgb(24,137,47);
    text-align: center;

    padding: 0;
    margin: 0;
}

.debugger .header {
    width: 100;
    text-align: center;
    font-weight: bold;
    padding: 4px 0 2px;
    border-bottom: 1px black solid;
}

.button-group {
    padding: 0;
    margin: 0;
}

.button-group ul {
    margin: 0;
    padding: 0;
}

.button-group li {
    display: inline-block;
}

.button-group .button {
    display: block;
    height: 100%;
    border-right: 1px solid black;
    padding: 4px 12px;
    margin: 0;
}

.debugger .column {
    display: inline-block;
}

.debugger-body {
    overflow-y: hidden;
}

.debugger .registers {
    display: inline-block;
    vertical-align: top;

    padding: 0;

    padding-bottom: 10000px;
    margin-bottom: -10000px;

    background: rgb(237, 237, 237);
    border-right: 1px solid black;
}

.debugger .disassembly {
    display: inline-block;
    vertical-align: top;
}

.debugger .row {
    width: 100%;
}

.debugger .addr {
    display: inline-block;
    width: 8ex;
}

.debugger .hex {
    display: inline-block;
    width: 12ex;
    background: rgb(200,200,200);
}

.debugger .instruction {
    padding-left: 1ex;
}

